.form_container{
	display: flex;
	flex-direction: column;
	@media(max-width: $desktop-breakpoint){
		margin: $m-size;
	}
}

.input-group{
	display: flex;
	padding: $s-size;
	margin-bottom: $m-size;
	flex-direction: row;
	@media(max-width: $desktop-breakpoint){
		flex-direction: column;
		justify-content: center;
		margin: 0 $m-size;
	}
}

.input-item{
	margin:$l-size;
	@media(max-width: $desktop-breakpoint){
		margin: 0 $m-size $s-size 0;
	}
}	

.text-input{
	font-size: 2.5rem;
	border: 1px solid #cacccd;
	font-weight: 300;
	height: 35px;
	width: 90%;
	padding: $s-size;
	margin-left: $l-size;
	@media(max-width: $desktop-breakpoint){
		width: 100%;
		display: flex;
		flex-direction: center;
		margin-left: 0;
	}
}

.select{
	@extend .text-input;
	padding: $s-size;
}

.text-area{
	height: 70px;
}

.form{
	display: flex;
	flex-direction: column;
	width: 100%;
}