.page-header__container{
	background: #f7f7f7;
	font-size: 2.2rem;
	padding: $s-size $l-size;
	margin-bottom: $m-size;
	button{
		padding: $s-size $s-size;
		margin-bottom: $m-size;
	}
}

.page-header__header{
	font-weight: 300;
	span{
		font-weight: bold;
	}
}