//colors
$dark-grey: #333;
$light-blue: #1979a9;
$dark-blue: #364051;
$red: #d6593c;
$off-white: #f7f7f7;
//sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;